/* CSS for Login */

.formMainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}


.loginImage {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--loginBg);
    /* color: #0a0a0a; */
    position: relative;
}

.loginImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background-image: url("./assets/login15.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: #3c283c; */
}

/* .loginImage img {   
    height: 100%;
    width: 100%;
    object-fit: cover;   
} */


.loginContainer {
    flex: 1 1 auto;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}

.loginHeader h1 {
    font-size: 4rem;
    font-weight: 600;
    background: transparent;
    color: var(--loginText);
}

.loginHeader p {
    font-size: 2.5rem;
    align-self: center;
    font-weight: 600;
    color: var(--loginText);
    font-style: italic;
}

.formContainer {
    width: 100%;
    flex: 1 1 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer h3 {
    font-size: 1.7rem;
    background: transparent;
    color: var(--loginBg);
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;
}

.formContainer h3 span {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
    background-color: var(--loginBg);
    color: var(--loginText);
    margin-right: .5rem;
}

.loginForm {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginForm h2 {
    font-weight: 600;
    background: transparent;
}

.iconContainer {
    border-bottom: 1px solid var(--loginBg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem
}

.iconContainer svg {
    font-size: 1.3rem;
    color: var(--loginBg);
}

.loginForm input {
    height: 3rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    background: transparent;
}

.loginForm input:focus {
    outline: none;
}

.loginForm input::placeholder {
    height: 2.5rem;
    border: none;
    font-size: 1.3rem;
}

.loginForm button {
    height: 3.5rem;
    padding: 10px 20px;
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    background-color: var(--loginBg);
    color: var(--loginText);
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.loginForm button:hover {
    transform: scale(1.02);
    /* color: #f0e6e6; */
    background-color: var(--loginHover);
    /* box-shadow: #070607 0px 2px 0px 1px; */
}

/* ----------------CSS For Dashboard------------------- */

.dashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--headerBg);
}

.dashboardHeading {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboardHeading h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    background: transparent;
    color: var(--headerText);
}

.dashboardHeading p {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--headerText);
}

.logoutBtn {
    flex: 0 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
    transition: transform .1s ease-in-out;
    background: transparent;

}

.logoutBtn svg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--headerText);
}

.logoutBtn:hover {
    /* background-color: #e1c1c1; */
    transform: scale(1.05);
}

.dashboardBody {
    display: flex;
    width: 100%;
}

.dashboardController {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--sidebarBg);
    padding: 1rem;
}

.dashboardController h2 {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: var(--headerBg);
    color: var(--headerText);
    /* border-bottom: 1px solid #373a37; */
}

.dashboardControls {
    padding: .5rem;
    overflow: scroll;
    scrollbar-width: none;
}

.allControls {
    /* flex: 1 1 auto; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.allControls li {
    flex: 1 1 auto;
    /* border-bottom: 1px solid #373a37; */
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.allControls li a {
    color: var(--siddebarText);
    align-items: center;
    padding: 1rem;
    display: flex;
    gap: .5rem;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

/* Targetting all the Icons */
/* .allControls li svg{    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;   
    cursor: pointer;
} */


.allControls li a:hover {
    /* box-shadow: #000000 2px 2px 2px 2px; */
    border-radius: 5px;
    color: var(--lihover);
    /* background: transparent; */
    /* width: 100%; */
    /* border-bottom: 1px solid #373a37; */
    background-color: var(--lihoverBg);
    transform: scale(1.01);
}

.allControls li:last-child {
    background-color: rgba(171, 48, 48, 0.882);
    width: max-content;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.allControls li:last-child:hover {
    background-color: rgba(186, 11, 11, 0.882) !important;
    transform: scale(1.02);
    background: transparent;
}

.dashboardContent {
    flex: 1 1 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem
        /* scrollbar-width: none; */

}

/* --------Writting CSS for DashboardHome component-------- */

.mainContainer {
    /* flex: 1 1 auto; */
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #373a37; */
    align-items: flex-start;

}

.contentContainer {
    /* flex: 1 1 auto; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid #373a37; */
    align-items: flex-start;

}

.contentContainer h2 {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    border-radius: 4px;
    padding: .5rem;
    /* border-bottom: 1px solid #373a37; */
}

.contentContainer p {
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem;
}

.tableData {
    width: 100%;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}

table {
    flex: 1 1 auto;
    width: 100%;
}

th {
    padding: .7rem;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(215, 201, 201);
}

td {
    border-spacing: 0;
    padding: .4rem;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid rgba(215, 201, 201, 0.396);
}

tr {
    border-spacing: 0;
    transition: all .1s ease-in-out;
}

tr:hover {
    background-color: var(--tableHover);
    color: var(--heading);
}

.filters {
    padding: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

label {
    font-weight: bold;
    padding: .5rem;
    font-size: 1.2rem;
}

select {
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid #a89e9e;
    border-radius: 5px;
}

#updateDuration {
    height: 2.5rem;
    padding: .2rem;
    font-size: 1.2rem;
}

.btnContainer {
    display: flex;
    margin-top: 2rem;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.btn {
    padding: 1rem;
    background: transparent;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--btnBg);
    color: var(--btnText);
    transition: all .2s ease-in-out;
}

.btn:hover {
    background-color: var(--btnhover) !important;
    color: var(--bg) !important;
}



.hardwareInfo {
    flex: 1 1 auto;
    /* border: 1px solid #b6c3b6; */
    width: 100%;
}

.hardwareInfo p {
    font-size: 1.2rem;
    width: 100%;
    padding: .9rem;
    /* border-bottom: 1px solid #cfd4cf6f; */

}

/* Writing CSS for Clear CDR component */

.confirmContainer {
    width: 100%;
    gap: .5rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: #d2cccc 1px solid;
}

.confirmContainer h2 {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
    border-bottom: 1px solid #879087;
}

.confirmContent {
    display: flex;
    flex-direction: column;
}

.confirmContent h1 {
    font-size: 2.5rem;
    font-weight: 600;
    width: 100%;
    border-radius: 4px;
    padding: .5rem;
    background: transparent;

}

.confirmContent p {
    font-size: 1.2rem;
    width: 100%;
    padding: .5rem;
    border-bottom: #cfd4cf6f;
}


/* Media Query for small screens */


@media only screen and (max-width: 750px) {
    .formMainContainer {
        position: relative;
        flex-direction: column;
        height: 100vh;
    }

    .loginImage {
        position: absolute;
        top: 0;
        left: 0;
        /* height: 150vh; */
        height: max-content;
    }

    .loginContainer {
        z-index: 1;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }

    .loginHeader {
        justify-content: flex-start;
        margin: 1rem;
    }

    .loginHeader h1 {
        font-size: 3rem;
        color: var(--loginText);
    }

    .loginHeader p {
        font-size: 1.5rem;
        color: var(--loginText);
    }

    .formContainer {
        width: 100%;
        padding: 2rem;
        margin-top: 10rem;
        flex-direction: column;
        justify-content: center;
    }

    .formContainer h3 {
        font-size: 1.3rem;
        color: var(--loginBg);
        height: 2rem;
        margin-bottom: 0rem;
    }

    .formContainer h3 span {
        padding: .5rem;
    }

    .loginForm {
        justify-content: flex-start;
        margin: 3rem;
        gap: 1rem;
    }

    .loginForm input {
        padding: 1rem 1rem;
    }

    .iconContainer {
        border-bottom: 1px solid var(--loginText);
    }

    .iconContainer svg {
    }

    .dashboardContainer {
        margin: 0rem;
    }

    header {
        padding: .5rem;
        position: sticky;
        top: 0;
        z-index: 101;
    }

    .dashboardHeading {}

    .dashboardHeading h1 {
        font-size: 1.2rem;
    }

    .dashboardHeading p {
        font-size: .5rem;
        text-align: center;
    }


    .hamburger-icon {
        margin: .2rem;
        width: 1.5rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1rem;
        z-index: 102;
        transition: transform 0.2s ease;
    }

    .hamburger-icon div {
        background-color: var(--headerText);
        height: .25rem;
        border-radius: .5rem;
        transition: all 0.2s ease;
    }

    .hamburger-icon.open div:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: 5% 95%;
    }

    .hamburger-icon.open div:nth-child(2) {
        opacity: 0;
    }

    .hamburger-icon.open div:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 25% 75%;
    }

    .logoutBtn {
        width: 1.5rem;
        height: 1.5rem;
    }

    .logoutBtn svg {
        width: 1rem;
        height: 1rem;
    }

    .dashboardBody {
        flex-direction: column;
        position: relative;
    }

    .dashboardController.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .dashboardController {
        padding: 1rem;
        margin: 0rem;
        width: 70%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        transition: all .2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }

    .dashboardController h2 {
        font-size: 1.2rem;
    }

    .dashboardControls {
        padding: 0rem;
        height: 93vh;
        width: 100%;
        position: relative;
    }

    .allControls li {
        gap: 0rem;
    }

    .allControls li {
        font-size: 1rem;
    }

    .allControls li a {
        gap: .5rem;
    }

    .dashboardContent {
        padding: 0rem;
        margin: 0.2rem;
    }

    .mainContainer {
        flex-direction: column;
        gap: .2rem;
    }

    .contentContainer {
        flex-direction: column;
        gap: 0.5rem;
    }

    .contentContainer h2 {
        font-size: 1.3rem;
        margin: 0rem;
    }

    .contentContainer h1 {
        font-size: 1.2rem;
        margin: 0rem;
    }

    .contentContainer p {
        font-size: .8rem;
        margin: 0rem;
    }

    th {
        font-size: .8rem;
        padding: .3rem;
    }

    td {
        font-size: 1rem;
        padding: .1rem;
    }

    .filters {
        gap: 0rem;
        margin: 0rem;
        width: 100%;
        padding: 0.1rem;
        height: 100%;
        /* flex-wrap: wrap; */
        overflow: scroll;
    }

    label {
        font-size: .8rem;
        padding: .2rem;
        margin: 0 0.3rem;
    }

    select {
        font-size: .8rem;
        padding: .1rem;
        height: 70%;
        margin: 0 .3rem;
    }

    #updateDuration {
        height: 2rem;
        width: 70%;
        padding: .2rem;
        font-size: 1rem;
    }

    .btnContainer {
        margin: 0rem;
        gap: .1rem;
    }

    .btn {
        font-size: .6rem;
        padding: .6rem;
        margin: .1rem;
    }


    .confirmContainer h2 {
        font-size: 1.6rem;
    }

    .confirmContent h1 {
        font-size: 1.4rem;
    }

    .confirmContent p {
        font-size: .9rem;
    }
}